body{
    font-family: sans-serif;
    margin: 0%;
}


.h1{
    font-size: 50px;
    color: darkgrey;
    
}
h3{
    color: orange;
    font-size: 20px;
}
.spann{
    color: orange;
}


.secback{
background-color:#4f5c52 ;


}
.namecolor{

    color: red;
}
.divcon{

    width: 40%;
    text-align: justify;
    float: left;
    margin-top: 5%;
    margin-left: 5px;
    padding-left: 2%;

}

.divcon img{
    height: 100%;
   padding: auto;
    margin-left: 40px;
    width: 70%;
margin-top: 5%;


}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}


section{


    height: 500px;
    padding-bottom: 200px;
    display: flex;

}
.button-link{

    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: orange;
}

.pstyle{

    color: #4f5c52;
    font-style: italic;

}
.exid{
    color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    
    border: #4f5c52 10px solid;
    height: 100%;
    


}
.divcon2{

    width: 40%;
    text-align: justify;
    float: left;
    margin-top: 5%;
    margin-left: 5px;
    margin-right: 5px ;
    padding-left: 3%;
    padding-right: 2%;
    box-shadow: 10px 10px 40px gray ;
}
.section2{


    height: 500px;
    padding-bottom: 200px;
   
    
}
#ex{

    text-align: center;
}
.h11{
    text-align: center;
    color: tomato;


}
.sec2back{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    



}
footer{
    text-align: center ;
    color:green;
}